*.pro.user
config.ini
records/*
.DS_Store
QSanguosha.pro.user*
/tools/
/extensions
*.exe
*.kdev4
*.dmp
*Thumbs.db
*.tmp
*.dll
*.pdb
*.autosave
Microsoft.DTfW.DHL.manifest
/platforms/
/imageformats/
/*.qrc
/translations/*.qm
